<h1>Depoimentos</h1>
<hr>
<section id="testimoies">

    <div class="card text-dark mb-3">
        <h5 class="card-header">Rhuan Yago <small>20/03/2021</small></h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a quisquam illum delectus aut commodi impedit nostrum beatae, adipisci totam, tempora exercitationem! Laboriosam nam minima cum, quia architecto et ex.
        </div>
    </div>

    <div class="card text-dark mb-3">
        <h5 class="card-header">Rhuan Yago <small>20/03/2021</small></h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a quisquam illum delectus aut commodi impedit
            nostrum beatae, adipisci totam, tempora exercitationem! Laboriosam nam minima cum, quia architecto et ex.
        </div>
    </div>

    <div class="card text-dark mb-3">
        <h5 class="card-header">Rhuan Yago <small>20/03/2021</small></h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a quisquam illum delectus aut commodi impedit
            nostrum beatae, adipisci totam, tempora exercitationem! Laboriosam nam minima cum, quia architecto et ex.
        </div>
    </div>

</section>

<hr>

<section id="form">

    <h3>Envie seu depoimento</h3>

    <form method="post">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" required>
        </div>

        <div class="form-group">
            <label for="nome">Mensagem</label>
            <textarea class="form-control" rows="5" name="mensagem" id="mensagem" required></textarea>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>

    </form>




</section>